@media (min-width: 768px) {
  header .container {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
.dot-empty {
  height: 15px;
  width: 15px;
  border-color: #333;
  border-style: solid;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}