<section class="container" id="profile" style="padding-left: 50px; padding-right: 50px;">
    <div class="row">
        <h2 translate="EXPERIENCE_TITLE"></h2>
    </div>
    <br>
    <div class="row" ng-repeat="experience in vm.experiences">
        <p>
            <b><span translate="{{experience.role}}"></span></b>
        </p>
        <p>
            <span>{{experience.organization}} ({{experience.time}})</span>
        </p>
    </div>
    <br>
    <div class="row">
        <h2 translate="SKILLS_TITLE"></h2>
    </div>
    <br>
    <div class="row" ng-repeat="skill in vm.skills">
        <p>
            <b>
                <span>{{skill.technology}}</span>
            </b>
        </p>
    </div>
</section>