<section id="about-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <p>
                I'm a software developer, bachelor of computer science and nerd as much as possible. I work in the technology area since
                2010 when I started to learn about software development and got my first job in IT. Over this years I obtained
                a large experience and knowledge from the projects I have been involved mostly related to .NET platform and
                web tecnhologies (front and back-end). I like to learn about new technologies and I'm always trying to apply
                it in my code and projects. About my personal life I'm a huge fan of Tolkien universe and love to spend my
                free time watching some series/movies or hanging out with my girlfriend and friends.
            </p>
        </div>
    </div>
</section>