<header ng-controller="coverController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="assets/img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">Robson da Silva</span>
                    <hr class="star-light">
                    <span class="skills" translate="MY_TITLE"></span>
                </div>
            </div>
        </div>
    </div>
</header>