<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 translate="EXPERIENCE_TITLE"></h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <h3 translate="EXPERIENCE_1_ROLE"></h3>
            <h4>T-Systems (2010-2011)</h4>
        </div>
        <div class="row text-center">
            <h3 translate="EXPERIENCE_2_ROLE"></h3>
            <h4>T-Systems (2011-2013)</h4>
        </div>
        <div class="row text-center">
            <h3 translate="EXPERIENCE_3_ROLE"></h3>
            <h4>BgmRodotec (2013-2015)</h4>
        </div>
        <div class="row text-center">
            <h3 translate="EXPERIENCE_4_ROLE"></h3>
            <h4>Bludata Software (2015-now)</h4>
        </div>
    </div>
</section>