<section id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experiences</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row text-center">
            <h3>Web Developer</h3>
            <h4>T-Systems (2010-2011)</h4>
        </div>
        <div class="row text-center">
            <h3>Support Technician</h3>
            <h4>T-Systems (2011-2013)</h4>
        </div>
        <div class="row text-center">
            <h3>Developer (.NET/C#)</h3>
            <h4>BgmRodotec (2013-2015)</h4>
        </div>
        <div class="row text-center">
            <h3>Full Stack Developer (.NET/C#)</h3>
            <h4>Bludata Software (2015-now)</h4>
        </div>
    </div>
</section>