<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3 translate="FOOTER_LOCATION"></h3>
                    <p translate="FOOTER_CITY"></p>
                    <p translate="FOOTER_COUNTRY"></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3 translate="FOOTER_AROUND_THE_WEB"></h3>
                    <ul class="list-inline">
                        <li>
                            <a href="https://br.linkedin.com/in/robson-silva-23967278" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/rsilva93" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/robson.silva.509" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3 translate="FOOTER_CONTACTS"></h3>
                    <p translate="FOOTER_PHONE"></p>
                    <p translate="FOOTER_EMAIL"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span translate="FOOTER_COPYRIGHT"></span>
                </div>
            </div>
        </div>
    </div>
</footer>