<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top" translate="MY_NAME"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutme" translate="ABOUT_ME_TITLE"></a>
                </li>
                <li class="page-scroll">
                    <a href="#skills" translate="SKILLS_TITLE"></a>
                </li>
                <li class="page-scroll">
                    <a href="#experience" translate="EXPERIENCE_TITLE"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>