<section id="skills" class="success" ng-controller="skillsController as vm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 translate="SKILLS_TITLE"></h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row" ng-repeat="skill in vm.skills">
            <div class="col-lg-offset-3 col-lg-6">
                <h4 class="progress-label">{{skill.technology}}</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.proficiency}}"></div>
                </div>
            </div>
        </div>
    </div>
</section>