section#main {
    padding: 0px;
}

section#profile {
    padding: 110px;
}

section#cover {
  text-align: center;
  background: #18bc9c;
  color: white;
}

section#cover .container {
  padding-top: 110px;
  padding-bottom: 50px;
}

section#cover img {
  display: block;
  margin: 0 auto 20px;
}

section#cover .intro-text .name {
  display: block;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

section#cover .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

@media (min-width: 768px) {
  
  section#cover .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  
  section#cover .intro-text .name {
    font-size: 4.75em;
  }
  
  section#cover .intro-text .skills {
    font-size: 1.75em;
  }
}